<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-9 col-md-4">
      <h2>Login</h2>
      <br/>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input #userEmail="ngModel"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" [(ngModel)]="user.email"
          class="form-control"
          [ngClass]="{'is-invalid': (userEmail.invalid && userEmail.touched), 'is-valid': (userEmail.valid && userEmail.touched)}"
          id="userEmail"
          name="userEmail" required type="email"/>
          <!-- Invalid userDescription feedback (red) -->
          <div *ngIf="userEmail.invalid && userEmail.touched" class="invalid-feedback">
          <div *ngIf="userEmail.errors.required">userEmail is required!</div>

          </div>
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input

            #userPassword="ngModel" [(ngModel)]="user.password"
            type="password"
          class="form-control"
          [ngClass]="{'is-invalid': (userPassword.invalid && userPassword.touched), 'is-valid': (userPassword.valid && userPassword.touched)}"
          id="userPassword"
          maxlength="128" minlength="1"
          name="userPassword" required/>
          <span class="text-danger" *ngIf="errorThrown">Email and/or Password does not exist</span>
          <!-- Invalid userDescription feedback (red) -->
          <div *ngIf="userPassword.invalid && userPassword.touched" class="invalid-feedback">
          <div *ngIf="userPassword.errors.required">userPassword is required!</div>

          </div>

        </div>

        <div *ngIf="!userEmail.invalid && !userPassword.invalid">
        <button type="submit" class="btn btn-primary" (click)="login()">
          Submit
        </button>
      </div>
      </form>
    </div>
  </div>
</div>

