<h2>Wishlist Create</h2>
<br/>

<form>
  <div class="form-group">
    <label for="name">Name:</label>
    <input #wishlistName="ngModel" [(ngModel)]="wishlist.name"  [ngModelOptions]="{standalone: true}"
    class="form-control"
    [ngClass]="{'is-invalid': (wishlistName.invalid && wishlistName.touched), 'is-valid': (wishlistName.valid && wishlistName.touched)}"
    id="wishlistName"
    maxlength="128" minlength="1"
    name="wishlistName" required type="text"/>
    <!-- Invalid userDescription feedback (red) -->
    <div *ngIf="wishlistName.invalid && wishlistName.touched" class="invalid-feedback">
    <div *ngIf="wishlistName.errors.required">wishlistName is required!</div>
    <div *ngIf="wishlistName.errors.minlength">wishlistName should be at least 1 character</div>
    <div *ngIf="wishlistName.errors.maxlength">wishlistName should not be longer than 128 characters</div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Equipment:</label>
    <select #wishlistEquipment="ngModel" [(ngModel)]="wishlist.equipment"
    name="wishlistEquipment"
    [ngClass]="{'is-invalid': (wishlistEquipment.invalid && wishlistEquipment.touched), 'is-valid': (wishlistEquipment.valid && wishlistEquipment.touched)}"
    id="wishlistEquipment"
    class="form-control">

      <option *ngFor="let equipment of equipments$ | async" [value]="equipment._id">{{equipment.name}}</option>

    </select>
  </div>
  <label for="description">Description:</label>
  <input #wishlistDescription="ngModel" [(ngModel)]="wishlist.description"
class="form-control"
[ngClass]="{'is-invalid': (wishlistDescription.invalid && wishlistDescription.touched), 'is-valid': (wishlistDescription.valid && wishlistDescription.touched)}"
id="wishlistDescription"
maxlength="128" minlength="1"
name="wishlistDescription" required type="text"/>
<!-- Invalid userDescription feedback (red) -->
<div *ngIf="wishlistDescription.invalid && wishlistDescription.touched" class="invalid-feedback">
<div *ngIf="wishlistDescription.errors.required">wishlistDescription is required!</div>
<div *ngIf="wishlistDescription.errors.minlength">wishlistDescription should be at least 1 character</div>
<div *ngIf="wishlistDescription.errors.maxlength">wishlistDescription should not be longer than 128 characters</div>
</div>
<div>

<div ng-app="myApp" ng-controller="myCtrl">
  </div>
  </div>

<br/>
<div *ngIf="!wishlistName.invalid && !wishlistEquipment.invalid && !wishlistDescription.invalid">
  <button type="submit" class="btn btn-primary"  (click)="createWishlistMethod()">
    create
  </button>
</div>
<div *ngIf="wishlistName.invalid || wishlistEquipment.invalid || wishlistDescription.invalid">
  <button type="submit" class="btn btn-primary" disabled>
    create
  </button>
</div>
</form>
