<h2>Comment Edit</h2>

<div *ngIf="comment">
<form #editComment="ngForm" (ngSubmit)="editComment.valid && updateComment()">
  <label for="commentText">Title:</label>
<input #commentName="ngModel" [(ngModel)]="comment.title"  [ngModelOptions]="{standalone: true}"
class="form-control"
[ngClass]="{'is-invalid': (commentName.invalid && commentName.touched), 'is-valid': (commentName.valid && commentName.touched)}"
id="commentName"
maxlength="128" minlength="1"
name="commentName" required type="text"/>
<!-- Invalid commentName feedback (red) -->
<div *ngIf="commentName.invalid && commentName.touched" class="invalid-feedback">
<div *ngIf="commentName.errors.required">commentName is required!</div>
<div *ngIf="commentName.errors.minlength">commentName should be at least 1 character</div>
<div *ngIf="commentName.errors.maxlength">commentName should not be longer than 128 characters</div>
</div>

  <div class="form-group">
    <label for="commentText">text:</label>
    <input #commentText="ngModel" [(ngModel)]="comment.text"
    class="form-control"
    [ngClass]="{'is-invalid': (commentText.invalid && commentText.touched), 'is-valid': (commentText.valid && commentText.touched)}"
    id="commentText"
    maxlength="128" minlength="1"
    name="commentText" required type="text"/>
    <!-- Invalid commentText feedback (red) -->
    <div *ngIf="commentText.invalid && commentText.touched" class="invalid-feedback">
    <div *ngIf="commentText.errors.required">commentText  is required!</div>
    <div *ngIf="commentText.errors.minlength">commentText  should be at least 1 character</div>
    <div *ngIf="commentText.errors.maxlength">commentText should not be longer than 128 characters</div>
    </div>
  </div>




  <div *ngIf="!commentName.invalid && !commentName.invalid && !commentName.invalid">

    <button type="submit" class="btn btn-primary" (submit)="updateComment() ">

      Submit
    </button>
  </div>
  <div *ngIf="commentName.invalid ||commentName.invalid || commentName.invalid">
    <button type="submit" class="btn btn-primary" disabled>
      Submit
    </button>
  </div>
</form>
</div>
<div *ngIf="!comment"></div>



