<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-9 col-md-4">
      <h2>Register</h2>
      <br/>
      <form>

        <div class="form-group">
          <label for="exampleInputuserName">username</label>
          <input #userName="ngModel" [(ngModel)]="user.username"
          class="form-control"
          [ngClass]="{'is-invalid': (userName.invalid && userName.touched), 'is-valid': (userName.valid && userName.touched)}"
          id="userName"
          maxlength="128" minlength="1"
          name="userName" required type="email"/>
          <!-- Invalid userName feedback (red) -->
          <div *ngIf="userName.invalid && userName.touched" class="invalid-feedback">
          <div *ngIf="userName.errors.required">userName is required!</div>
          <div *ngIf="userName.errors.minlength">userName should be at least 1 character</div>
          <div *ngIf="userName.errors.maxlength">userName should not be longer than 128 characters</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input #userEmail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,3}$" [(ngModel)]="user.email"
          class="form-control"
          [ngClass]="{'is-invalid': (userEmail.invalid && userEmail.touched), 'is-valid': (userEmail.valid && userEmail.touched)}"
          id="userEmail"
          maxlength="128" minlength="1"
          name="userEmail" required type="email"/>
          <!-- Invalid userDescription feedback (red) -->
          <div *ngIf="userEmail.invalid && userEmail.touched" class="invalid-feedback">
          <div *ngIf="userEmail.errors.required">userEmail is required!</div>
          <div *ngIf="userEmail.errors.minlength">userEmail should be at least 1 character</div>
          <div *ngIf="userEmail.errors.maxlength">userEmail should not be longer than 128 characters</div>
          </div>
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input  #userPassword="ngModel" [(ngModel)]="user.password"
          type="password"
        class="form-control"
        [ngClass]="{'is-invalid': (userPassword.invalid && userPassword.touched), 'is-valid': (userPassword.valid && userPassword.touched)}"
        id="userPassword"
        maxlength="128" minlength="1"
        name="userPassword" required />
        <!-- Invalid userDescription feedback (red) -->
        <div *ngIf="userPassword.invalid && userPassword.touched" class="invalid-feedback">
        <div *ngIf="userPassword.errors.required">userPassword is required!</div>
        <div *ngIf="userPassword.errors.minlength">userPassword should be at least 1 character</div>
        <div *ngIf="userPassword.errors.maxlength">userPassword should not be longer than 128 characters</div>
        </div>
        </div>
        <div class="form-group form-check">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Description</label>
          <input #userDescription="ngModel" [(ngModel)]="user.description"
          class="form-control"
          [ngClass]="{'is-invalid': (userDescription.invalid && userDescription.touched), 'is-valid': (userDescription.valid && userDescription.touched)}"
          id="equipmentDescription"
          maxlength="128" minlength="1"
          name="equipmentDescription" required type="text"/>
          <!-- Invalid userDescription feedback (red) -->
          <div *ngIf="userDescription.invalid && userDescription.touched" class="invalid-feedback">
          <div *ngIf="userDescription.errors.required">userDescription is required!</div>
          <div *ngIf="userDescription.errors.minlength">userDescription should be at least 1 character</div>
          <div *ngIf="userDescription.errors.maxlength">userDescription should not be longer than 128 characters</div>
          </div>
        </div>
        <div *ngIf="!userEmail.invalid && !userPassword.invalid && !userDescription.invalid && !userName.invalid">
        <button type="submit" class="btn btn-primary" (click)="register()">
          Submit
        </button>
        </div>
      </form>
    </div>
  </div>
</div>

