<h2>Wishlist Edit</h2>
<br/>


<div *ngIf="wishlist">
<form>
<label>Name: </label>
<input #wishlistName="ngModel" [(ngModel)]="wishlist.name"  [ngModelOptions]="{standalone: true}"
class="form-control"
[ngClass]="{'is-invalid': (wishlistName.invalid && wishlistName.touched), 'is-valid': (wishlistName.valid && wishlistName.touched)}"
id="wishlistName"
maxlength="128" minlength="1"
name="wishlistName" required type="text"/>
<!-- Invalid userDescription feedback (red) -->
<div *ngIf="wishlistName.invalid && wishlistName.touched" class="invalid-feedback">
<div *ngIf="wishlistName.errors.required">wishlistName is required!</div>
<div *ngIf="wishlistName.errors.minlength">wishlistName should be at least 1 character</div>
<div *ngIf="wishlistName.errors.maxlength">wishlistName should not be longer than 128 characters</div>
</div>

<div class="form-group">
  <label>Equipment:</label>
  <select #wishlistEquipment="ngModel" [(ngModel)]="wishlist.equipment._id" name="wishlistEquipment" class="form-control">
    <option *ngFor="let equipment of equipments$ | async" [value]="equipment._id">{{equipment.name}}</option>
  </select>
</div>

  <div class="form-group">
    <label for="wishlist">Description:</label>
    <input #wishlistDescription="ngModel" [(ngModel)]="wishlist.description"
    class="form-control"
    [ngClass]="{'is-invalid': (wishlistDescription.invalid && wishlistDescription.touched), 'is-valid': (wishlistDescription.valid && wishlistDescription.touched)}"
    id="wishlistDescription"
    maxlength="128" minlength="1"
    name="wishlistDescription" required type="text"/>
    <!-- Invalid userEmail feedback (red) -->
    <div *ngIf="wishlistDescription.invalid && wishlistDescription.touched" class="invalid-feedback">
    <div *ngIf="wishlistDescription.errors.required">wishlistDescription is required!</div>
    <div *ngIf="wishlistDescription.errors.minlength">wishlistDescription should be at least 1 character</div>
    <div *ngIf="wishlistDescription.errors.maxlength">wishlistDescription should not be longer than 128 characters</div>
    </div>
  </div>



  <div *ngIf="!wishlistName.invalid && !wishlistName.invalid && !wishlistName.invalid">

    <button  *ngIf="this.authService.isLoggedIn" type="submit" class="btn btn-primary"  (click)="updateWishlist() ">

      Submit
    </button>
  </div>
  <div *ngIf="wishlistName.invalid || wishlistName.invalid || wishlistName.invalid">
    <button type="submit" class="btn btn-primary" disabled>
      Submit
    </button>
  </div>
</form>
</div>
<div *ngIf="!wishlist"></div>


