
<h2>Comment List</h2>
<br/>
<div *ngIf="this.authService.currentUser$.value !== undefined">
  <button class="btn btn-primary" [routerLink]="'add'">Create </button>
</div>

<br/>

<table class="table">
  <thead>
    <tr>

      <th scope="col">Title</th>
      <th scope="col">text</th>
      <th scope="col">Users</th>



    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of comments$ | async">

      <td><a routerLink="{{comment._id}}">{{comment.title}}</a></td>
      <td scope="row">{{comment.text}}</td>
      <td scope="row">{{comment.user.username}}</td>

    </tr>
  </tbody>
</table>
