<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>FitBreda</h3>
    <p>
     Nu we vooral in deze tijd veel thuis zitten en de meeste sportscholen gesloten zijn is, het belangrijk dat we wat actiever worden, hiervoor heb ik een site gemaakt waarbij je je kan aanmelden voor een fitnes equipment omdat de producten schaars zijn.
     Entiteit 1 is de user die zich gaat kijken naar de equipments, entiteit 2 is equipment, entiteit 3 is de wishlist waarbij users kunnen aanmelden voor de equipment en de 4e entiteit is comments, zodat users een comment kunnen plaatsen over een bepaalde equipment.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Angelo van Peer</h5>
        <p class="card-text">
          Studentnummer: 2139170
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>User</p>
    <ul>
      <li>id: number</li>
      <li>name: string</li>
      <li>password: string</li>
      <li>emailAddress: string</li>
      <li>password: string</li>


    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Equipment</p>
    <ul>

      <li>id: number</li>
      <li>emailAddress: string</li>
      <li>description: string</li>
      <li>comments: Comments[]</li>
      <li>postedBy: User</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>WishList</p>
    <ul>
      <li>id: number</li>
      <li>equipment: Equipment</li>
      <li>description: string</li>
      <li>user: User</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Comment</p>
    <ul>
      <li>id: number</li>
      <li>title: string</li>
      <li>text: string</li>
      <li>user: User</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
    <p>Vul hier zelf meer functionaliteit toe.</p>
  </div>

</div>
