<h2>User list</h2>

<br/>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Email</th>
      <th>
        </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users$ | async">
      <td><a routerLink="{{user._id}}">{{user.username}}</a></td>
      <td>{{user.description}}</td>
      <td>{{user.email}}</td>

    </tr>
  </tbody>
</table>


