
<p *ngIf="!wishlist$"> Hij is aan het laden...</p>



<div *ngIf="wishlist$ | async as wishlist">


  <h2>Wishlist Details</h2>
  <br/>


  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Wishlist name
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          {{wishlist.name}}
        </div>
      </div>

      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Wishlist description
          </button>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          {{wishlist.description}}
        </div>
      </div>
      <div class="card-header" id="headingThree">
        <h5 class="mb-1">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            Wishlist equipment
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          {{wishlist.equipment.name}}
        </div>
      </div>
    </div>
    </div>


    <br/>

<div *ngIf="this.authService.currentUser$.getValue() !== undefined">
    <button id="canEditWishlist"  (click)="tryToEdit(wishlist)" type="button" class="btn btn-outline-warning" *ngIf="this.authService.isLoggedIn" routerLink= '/wishlist/editWishlist/{{wishlist._id}}' >update</button>
    <button id="canEditWishlist"  (click)="tryToDelete(wishlist)" type="button" class="btn btn-outline-danger" (click)="deleteWishlist(wishlist)" >delete</button>
</div>

</div>
