<h2>Equipment edit</h2>
<br/>

<div *ngIf="equipment">
<form>
  <label for="description">Name:</label>
<input #equipmentName="ngModel" [(ngModel)]="equipment.name"  [ngModelOptions]="{standalone: true}"
class="form-control"
[ngClass]="{'is-invalid': (equipmentName.invalid && equipmentName.touched), 'is-valid': (equipmentName.valid && equipmentEmail.touched)}"
id="equipmentName"
maxlength="128" minlength="1"
name="equipmentName" required type="text"/>
<!-- Invalid userDescription feedback (red) -->
<div *ngIf="equipmentName.invalid && equipmentName.touched" class="invalid-feedback">
<div *ngIf="equipmentName.errors.required">equipmentName is required!</div>
<div *ngIf="equipmentName.errors.minlength">equipmentName should be at least 1 character</div>
<div *ngIf="equipmentName.errors.maxlength">equipmentName should not be longer than 128 characters</div>
</div>

  <div class="form-group">
    <label for="emailAddress">EmailAddress:</label>
    <input #equipmentEmail="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" [(ngModel)]="equipment.emailAddress"
    class="form-control"
    [ngClass]="{'is-invalid': (equipmentEmail.invalid && equipmentEmail.touched), 'is-valid': (equipmentEmail.valid && equipmentEmail.touched)}"
    id="equipmentEmail"
    maxlength="128" minlength="1"
    name="equipmentEmail" required type="email"/>
    <!-- Invalid userEmail feedback (red) -->
    <div *ngIf="equipmentEmail.invalid && equipmentEmail.touched" class="invalid-feedback">
    <div *ngIf="equipmentEmail.errors.required">equipmentEmail is required!</div>
    </div>
  </div>
  <label for="description">Description:</label>
  <input #equipmentDescription="ngModel" [(ngModel)]="equipment.description"
class="form-control"
[ngClass]="{'is-invalid': (equipmentDescription.invalid && equipmentDescription.touched), 'is-valid': (equipmentDescription.valid && equipmentDescription.touched)}"
id="equipmentDescription"
maxlength="128" minlength="1"
name="equipmentDescription" required type="text"/>
<!-- Invalid userDescription feedback (red) --->
<div *ngIf="equipmentDescription.invalid && equipmentDescription.touched" class="invalid-feedback">
<div *ngIf="equipmentDescription.errors.required">equipmentDescription is required!</div>
</div>

<br/>

  <div *ngIf="!equipmentName.invalid && !equipmentEmail.invalid && !equipmentDescription.invalid">

    <button  *ngIf="this.authService.isLoggedIn"   type="submit" class="btn btn-primary"  (click)="updateEquipment() ">
      Submit
    </button>

</div>
  <div *ngIf="equipmentName.invalid || equipmentEmail.invalid || equipmentDescription.invalid">
    <button type="submit" class="btn btn-primary" disabled>
      Submit
    </button>
  </div>
</form>
</div>
<div *ngIf="!equipment"></div>


