<div *ngIf="equipment$ | async as equipment">


  <h2>Equipment Detail</h2>
  <br/>

  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Equipment name
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          {{equipment.name}}
        </div>
      </div>

      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Equipment emailAddress
          </button>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          {{equipment.emailAddress}}
        </div>
      </div>


      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            Equipment description
          </button>
        </h5>
      </div>

      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          {{equipment.description}}
        </div>
      </div>
    </div>


  </div>



  <br/>

<div *ngIf="this.authService.currentUser$.getValue() !== undefined">
  <button  id="canEditEquipment"  (click)="tryToEdit(equipment)" *ngIf="this.authService.isLoggedIn" type="button" class="btn btn-outline-warning" routerLink= '/equipment/editEquipment/{{equipment._id}}' >update</button>
  <button  id="canEditEquipment"  (click)="tryToDelete(equipment)" type="button" class="btn btn-outline-danger" *ngIf="this.authService.isLoggedIn" (click)="deleteEquipment(equipment)" >delete</button>
</div>

</div>









