

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink="/"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >FitBreda</a
    >
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngbCollapse]="isNavbarCollapsed"
      class="collapse navbar-collapse"
      id="navbarsDefault"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">

            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/users"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                Users
            </a>
            </li>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/equipment"
            [routerLinkActive]="['active']"
            >equipment</a
          >
        </li>



        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/wishlist"
            [routerLinkActive]="['active']"
            >Wishlist</a>
        </li>
      </ul>




      <ul class="navbar-nav">
        <li class="nav-item">
          <div  *ngIf="this.authService.currentUser$.value == undefined" class="navbar-nav">
          <a
            class="nav-link"
            routerLink="/register"
            [routerLinkActive]="['active']"
            >Register</a
          >
          </div>
        </li>


        <li class="nav-item">
          <div *ngIf="this.authService.currentUser$.value == undefined" class="navbar-nav">
          <a
            class="nav-link"
            routerLink="/login"
            [routerLinkActive]="['active']"
            >Login</a
          >
        </div>
        </li>

        <li class="nav-item">
          <div *ngIf="this.authService.currentUser$.value != undefined" class="navbar-nav">
          <button
            class="nav-link bg-dark text-white"
            (click)="logout()"
            [routerLinkActive]="['active']"
            >{{this.authService.currentUser$.value.email}}</button
          >
        </div>
        </li>


      </ul>
    </div>



  </div>

</nav>



