<h2>Equipment list</h2>
<br/>

<div *ngIf="this.authService.currentUser$.value !== undefined">
<button class="btn btn-primary" [routerLink]="'add'">Create </button>
</div>

<br/>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Comments</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Email</th>
      <th scope="col">Posted By</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let equipment of equipments$ | async">
      <th scope="row"><a routerLink="/comment/{{equipment._id}}">Go to comments</a></th>
      <td><a routerLink="{{equipment._id}}">{{equipment.name}}</a></td>
      <td>{{equipment.description }}</td>
      <td>{{equipment.emailAddress}}</td>
      <td>{{equipment.postedBy.username}}</td>
      <!---   <button type="button" class="btn btn-outline-warning" routerLink= 'editEquipment/{{equipment._id}}'>update</button> --->
   <!---  <button type="button" class="btn btn-outline-danger" (click)="deleteEquipment(equipment)" routerLink='/equipment' >delete</button>  --->


    </tr>
  </tbody>
</table>
