.card-body {
  background-color: lightblue;
 }

 .card {
   background-color:lightskyblue;
 }


 .card-header2 {
   background-color:lightskyblue;
 }

 .btn-link {
   font-weight: bold;
   color: black;
 }

