
<p *ngIf="!comment"></p>



<div *ngIf="comment">


  <h2>Comment Details</h2>
  <br/>


  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Comment Title
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          {{comment.title}}
        </div>
      </div>

      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Comment text
          </button>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          {{comment.text}}
        </div>
      </div>

      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            Comment User
          </button>
        </h5>
      </div>

      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          {{comment.user.username}}
        </div>
      </div>

    </div>
    </div>


    <br/>

    <div *ngIf="this.authService.currentUser$.getValue() !== undefined">
    <a id="canEditEquipment"  (click)="tryToEdit(comment)"  class="btn btn-outline-warning" routerLink='/comment/{{equipid}}/editComment/{{comment._id}}' >update</a>
    <button  id="canEditEquipment"  (click)="tryToDelete(comment)" type="button" class="btn btn-outline-danger"  (click)="deleteComment(comment)" >delete</button>
    </div>

  </div>
