<h2>Create Equipment</h2>
<br/>


<form>
  <div class="form-group">
    <label for="name">Name:</label>
    <input #equipmentName="ngModel" [(ngModel)]="equipment.name"  [ngModelOptions]="{standalone: true}"
    class="form-control"
    [ngClass]="{'is-invalid': (equipmentName.invalid && equipmentName.touched), 'is-valid': (equipmentName.valid && equipmentName.touched)}"
    id="equipmentName"
    maxlength="128" minlength="1"
    name="equipmentName" required type="text"/>
    <!-- Invalid userDescription feedback (red) -->
    <div *ngIf="equipmentName.invalid && equipmentName.touched" class="invalid-feedback">
    <div *ngIf="equipmentName.errors.required">equipmentName is required!</div>
    </div>
  </div>



  <div class="form-group">
    <label for="emailAddress">EmailAddress:</label>
    <input #equipmentEmail="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" [(ngModel)]="equipment.emailAddress"
    class="form-control"
    [ngClass]="{'is-invalid': (equipmentEmail.invalid && equipmentEmail.touched), 'is-valid': (equipmentEmail.valid && equipmentEmail.touched)}"
    id="equipmentEmail"
    maxlength="128" minlength="1"
    name="equipmentEmail" required type="email"/>
    <!-- Invalid userEmail feedback (red) -->
  </div>
  <label for="description">Description:</label>
  <input #equipmentDescription="ngModel" [(ngModel)]="equipment.description"
class="form-control"
[ngClass]="{'is-invalid': (equipmentDescription.invalid && equipmentDescription.touched), 'is-valid': (equipmentDescription.valid && equipmentDescription.touched)}"
id="equipmentDescription"
maxlength="128" minlength="1"
name="equipmentDescription" required type="text"/>
<!-- Invalid userDescription feedback (red) -->

<br/>

<div *ngIf="!equipmentName.invalid && !equipmentEmail.invalid && !equipmentDescription.invalid">
  <button  type="submit" class="btn btn-primary"  (click)="createEquipmentMethod()">
    create
  </button>
</div>
<div *ngIf="equipmentName.invalid || equipmentEmail.invalid || equipmentDescription.invalid">
  <button type="submit" class="btn btn-primary" disabled>
    create
  </button>
</div>

</form>
