<form #createUserForm="ngForm" (ngSubmit)="createUserForm.form.valid" name="form" novalidate>
  <div class="form-row">
    <!-- Name -->
    <div class="form-group col-sm-12 col-md-12">
      <label class="font-weight-bold" for="userName">Name</label>
      <input #userName="ngModel" [(ngModel)]="user.username"
             class="form-control"
             [ngClass]="{'is-invalid': (userName.invalid && userName.touched), 'is-valid': (userName.valid && userName.touched)}"
             id="userName"
             maxlength="128" minlength="1"
             name="userName" required type="text"/>
      <!-- Invalid feedback (red) -->
      <div *ngIf="userName.invalid && userName.touched" class="invalid-feedback">
        <div *ngIf="userName.errors.required">Artist name is required!</div>
        <div *ngIf="userName.errors.minlength">Artist name should be at least 1 character</div>
        <div *ngIf="userName.errors.maxlength">Artist name should not be longer than 128 characters</div>
      </div>
    </div>
    <!-- Description -->
    <div class="form-group col-sm-12 col-md-12">
      <label for="userDescription" class="font-weight-bold">Description</label>
      <textarea #userDescription="ngModel" [(ngModel)]="user.description"
                class="form-control"
                [ngClass]="{'is-invalid': (userDescription.invalid && userDescription.touched), 'is-valid': (userDescription.valid && userDescription.touched)}"
                id="userDescription"
                maxlength="512" minlength="1"
                name="userDescription" required></textarea>
      <!-- Invalid feedback (red) -->
      <div *ngIf="userDescription.invalid && userDescription.touched" class="invalid-feedback">
        <div *ngIf="userDescription.errors.required">ser description is required!</div>
        <div *ngIf="userDescription.errors.minlength">Artist description should be at least 1 character</div>
        <div *ngIf="userDescription.errors.maxlength">Artist description should not be longer than 512 characters</div>
      </div>
    </div>

  </div>
</form>
