<section class="jumbotron text-center">
  <div class="container">
    <h1>FitBreda</h1>

    <img src="https://i.pinimg.com/originals/bc/12/03/bc1203f573c512ac83a74c370b142fb1.jpg" alt="Girl in a jacket" width="700" height="300">

  </div>
</section>
