<h2>Wishlist List</h2>
<br/>

<div *ngIf="this.authService.currentUser$.value !== undefined">
<button class="btn btn-primary" [routerLink]="'add'">Create </button>
</div>

<br/>
<table class="table">

  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Equipment</th>
      <th scope="col">PostedBy</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let wishlist of wishlist$ | async">

      <td><a id="wishlistbtn" routerLink="{{wishlist._id}}">{{wishlist.name}}</a></td>
      <td>{{wishlist.description}}</td>
      <td>{{wishlist.equipment.name}}</td>
      <td>{{wishlist.user.username}}</td>

    </tr>
  </tbody>
</table>


